<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage with D-Day</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
      integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script>
      function calculateDDay() {
        const startDate = new Date("2024-05-12");
        const today = new Date();
        const diffTime = Math.abs(today - startDate);
        const dDay = Math.floor(diffTime / (1000 * 60 * 60 * 24));
        document.getElementById("dDay").innerText = dDay;
      }

      window.onload = calculateDDay;
    </script>
    <style>
      h2 {
        font-family: "East Sea Dokdo", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: black;
      }
    </style>
  </head>
  <body>
    <div class="homepage-container">
      <!-- 안전로고 이미지 삽입 -->
      <div>
        <img src="/안전로고.png" alt="안전 로고" style="width: 200px" />
      </div>
      <br />
      <div class="d-flex justify-content-center text-center m-0 p-0">
        <div class="section text-center">
          <h2>무사고 달성일</h2>
        </div>
        <div class="section text-center">
          <h2 style="color: red" id="dDay"></h2>
          <!-- 여기서 dDay를 동적으로 업데이트 -->
        </div>
        <div class="section text-center">
          <h2>일</h2>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
