.notice {
  flex: 0.8;
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* 각 링크의 간격을 균등하게 배치 */
  align-items: center; /* 세로 중앙 정렬 */
  height: 200px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.canvas-link {
  display: block;
  width: 100%;
  height: auto;
}
