<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <h2>회원가입</h2>
    <!-- register.ejs -->
    <form action="/register" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />

      <button type="submit">Register</button>

      <!-- 에러 메시지 표시 -->
      <% if (error) { %>
      <p style="color: red"><%= error %></p>
      <% } %>
    </form>

    <% if (error) { %>
    <p style="color: red"><%= error %></p>
    <% } %>

    <p>이미 계정이 있으신가요? <a href="/">로그인</a></p>
  </body>
</html>
