.weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  text-align: center;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.weather .icon {
  width: 120px;
  height: 120px;
  position: absolute;
  left: 47%;
  transform: translateY(-45%);
  z-index: 1;
}

.weather .temperature {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 15px;
  /* Adjust as needed */
  position: relative;
  z-index: 2;
}

.weather-description {
  font-size: 20px;
  font-weight: bold;
}

.weather-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 5px;
}

.weather-details p {
  margin: 0;
  font-size: 1.1em;
}

.weather-details .label {
  color: gray;
  font-size: 12px;
}

.weather-details .value {
  font-weight: bold;
  font-size: 12px;
}