.custom-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.custom-toolbar .current-date {
  font-size: 16px;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

.nav-buttons .nav-button {
  padding: 5px 10px;
  cursor: pointer;
  font-size: 18px;
}
