.menu_container {
  width: 11%;
  background-color: #013E8F;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  box-sizing: border-box;
}

.menu_container .logo {
  margin-bottom: 20px;
}

.menu_container ul {
  width: 80%;
  height: 55px;
  line-height: 55px;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 200px;
}

.menu_container ul li {
  text-align: center;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 10px;
}