.App {
  text-align: center;
  margin: 0 auto;
  max-width: 900px;
}

main {
  margin-bottom: 20px;
}

.todo-list-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* 달력과 To-Do List 사이의 간격 조정 */
}

.todo-list-container h2 {
  font-size: 24px; /* To-Do List 제목을 더 크게 */
  font-weight: bold; /* 제목을 굵게 */
  margin-bottom: 10px; /* 제목과 날짜 사이의 간격 */
}

.todo-list-container h3 {
  font-size: 20px; /* 날짜 텍스트 크기 조정 */
  margin-bottom: 15px; /* 날짜와 내용 사이의 간격 */
}

.todo-list-container ul {
  list-style-type: disc; /* 목록 스타일을 동그라미로 */
  padding-left: 20px; /* 목록 아이템 들여쓰기 */
}

.todo-list-container li {
  font-size: 16px; /* 목록 아이템의 텍스트 크기 조정 */
  color: #333; /* 텍스트 색상 조정 */
}
