.login-page {
    display: flex;
    height: 100vh;
}

/* 왼쪽 파란색 login_box */
.login-box {
    background-color: #013E8F;
    width: 50%;
    height: 100vh;
}

/* 오른쪽 로그인 폼 */
.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #f0f0f0;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 300px;
}

/* label과 input을 같은 줄에 맞추고, 공백을 조정 */
label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
}

label input {
    flex: 1; /* 입력란이 남은 공간을 차지하도록 */
    margin-left: 10px; /* 텍스트와 입력란 사이의 공백을 조정 */
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #013E8F;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
 
/* 기존 스타일에 회원가입 버튼 추가 */
.signup-button {
    margin-top: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  .signup-button:hover {
    background-color: #ddd;
  }
  